@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #8ab4f8;
    --secondary-color: #e8eaed;
    --tertiary-color: #9aa0a6;
    --bg-color: #202124;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--secondary-color);
    font-family: "Quicksand", sans-serif;
}

header {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 10;
    border-bottom: 1px solid var(--bg-color);
    gap: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
}

div.search-container input {
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--tertiary-color);
    background: var(--bg-color);
    font-family: inherit;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--secondary-color);
    margin-right: .5rem;
}

div.search-container input::placeholder {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--tertiary-color);
}

div input:focus {
    outline: none;
    border-color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

#botao-busca {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 1px solid var(--bg-color);
}

#botao-busca:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

.search-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-container label {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    white-space: nowrap;
}

.filter-container select {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 1rem;
    padding: 0.375rem 0.75rem;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    height: calc(100vh - 10rem - 4rem);
}


.card {
    background-color: transparent;
    width: 250px;
    height: 370px;
    perspective: 1000px; 
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: #292a2d;
    color: white;
    transform: rotateY(180deg);
    padding: 0.5rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 0.5rem; 
}

.card-back button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.card-back button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.card h2 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: none;
    color: var(--primary-color);
}

.card p {
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.card p strong {
    color: var(--tertiary-color);
    font-weight: 400;
}

.card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 200;
}

.card a:hover {
    text-decoration: underline;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.star {
    font-size: 1.2rem;
}

.star.filled {
    color: var(--primary-color);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-top: 1px solid #3c4043;
    font-size: 0.8rem;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    header h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    div input {
        width: 90vw;
        font-size: 1.2rem;
    }

    main {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1rem;
        max-width: 70%;
        word-wrap: break-word;
    }

    div.search-container input,
    div.search-container input::placeholder {
        font-size: 1rem;
    }

    .card-container {
        gap: 1rem;
    }

    .card {
        width: 90%; 
        height: 320px; 
        max-width: 300px; 
    }

    .card-back {
        padding: 0.8rem;
        
    }

    .card h2 {
        font-size: 1.3rem; 
    }

    .card p {
        font-size: 0.85rem; 
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .card-back button {
        padding: 0.4rem 0.8rem; 
        font-size: 0.85rem; 
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer {
        display: none;
    }
}